@import "../../../styles/variables";
@import "../../../styles/mixins";

.bm-header{
    padding: 18px 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    .bm-search{
        .bm-form-control{
            width: 360px;
            max-width: 100%;
            background-color: $light-color;
            border-color: $light-color;
            &:focus{
                border-color: $border-color;
            }
        }
    }
    .bm-noti{
        margin-left: auto;
        margin-right: 20px;
        position: relative;
        color: $secondary-color;
        text-decoration: none;
        display: inline-flex;
        i{
            font-size: 25px;
        }
        span{
            position: absolute;
            top: -10.5px;
            right: -7px;
            background-color: $primary-color;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include size(20px);
            @include border-radius(50%);
            @include font-style(12px, 150%, 600, $white-color);
        }
    }
    .bm-user{
        display: flex;
        align-items: center;
        column-gap: 8px;
        .avatar{
            @include size(37px);
            @include border-radius(50%);
            overflow: hidden;
            img{
                @include size(100%);
                object-fit: cover;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            .label{
                @include font-style(12px, 15px, 400, $secondary-color);
            }
            .username{
                @include font-style(16px, 20px, 600, $dark-color);
            }
        }
    }
}